<h1 id="cinefiles">CINE FILES</h1>
<div class="container">
    <div class="heading"><h1>Create your Cine Files Account</h1></div>

    <form action="" [formGroup]="registrationForm" id="registration-form">
        <div class="top">
            <div class="name">
                <div class="first">
                    <p>First Name</p>
                    <input type="text" name="first-name">
                </div>
                <div class="last">
                    <p>Last Name</p>
                    <input type="text"  name="last-name">
                </div>
            </div>
            <div class="sec2">
                <div class="date">
                    <p>Date of Birth</p>
                    <input type="date" name="date">
                </div>
                <div class="Gender">
                    <p>Username</p>
                    <input type="text" name="user-name">
                </div>
            </div>
            <div class="sec3">
                <div class="email">
                    <p>Email Id</p>
                    <input type="email" name="email">
                </div>
                <div class="display-name">
                    <p>Display name</p>
                    <input type="text" name="display-name">
                </div>
            </div>
            <div class="sec3">
                <div class="password">
                    <p>Password</p>
                    <input type="password" name="password">
                </div>
                <div class="cpassword">
                    <p>Confirm Password</p>
                    <input type="password" name="confirmpassword">
                </div>
            </div>

        </div>
        <button class="submit">Submit</button>
    </form>
</div>