<div class="relative mt-36">
    <p class="absolute font-semibold text-lg left-80 underline decoration-[#fcc139] decoration-4">WATCHLIST</p>
    <div class="absolute grid grid-cols-4 gap-4 top-20 left-80">
        <div *ngFor="let movie of this.movies">
            <div class="">
                <img src={{movie.poster}} alt="" class="xl:h-64 2xl:h-80 2xl:w-60 hover:border-4 border-[#1f4489]">
                <p class="font-semibold">{{movie.name}}</p>
            </div>
        </div>
    </div>