<link href="E:/Projects/MoviePro API/cinefiles-app/src/assets/css/fontawesome.css" rel="stylesheet">
<link href="E:/Projects/MoviePro API/cinefiles-app/src/assets/css/brands.css" rel="stylesheet">
<link href="E:/Projects/MoviePro API/cinefiles-app/src/assets/css/solid.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="bg-gray-800 text-white min-h-screen">
    <div class="flex">
        <div >
            <img src="{{movieData.poster}}" alt="" class="h-96 max-w-lg p-3 mt-2">
            <div class="mt-0 flex justify-around">
                <div *ngIf="this.home.userData.movies_liked.includes(movieData._id) else elseBlock">
                    <i class="fa-solid fa-heart text-4xl hover:cursor-pointer"></i>
                </div>
                <ng-template #elseBlock>
                    <i class="fa-regular fa-heart text-4xl hover:cursor-pointer" ></i>
                </ng-template>
                <div *ngIf="this.home.userData.watchlist.includes(movieData._id) else elseBlock2">
                    <i class="fa-solid fa-clock text-4xl hover:cursor-pointer"></i>
                </div>
                <ng-template #elseBlock2>
                    <i class="fa-regular fa-clock text-4xl hover:cursor-pointer"></i> 
                </ng-template>
                   
                <i class="fa-solid fa-share-nodes text-4xl hover:cursor-pointer"></i>
            </div>
            
        </div>
        <div class="p-3">
            <p class="font-bold text-2xl p-1 ">{{movieData.name}} <span class="text-sm font-medium italic ">{{movieData.release.substring(0,4)}}</span></p>
            <hr class=" p-2">
            <div class="flex justify-between">
                <div>
                    <p class="font-bold text-lg p-1">Director <span class=" font-normal text-lg pl-3">{{movieData.directors}}</span> </p>
                    <p class="font-bold text-lg p-1">Writer <span class=" font-normal pl-3 text-lg">{{movieData.writers}}</span> </p> 
                    <p class="font-bold text-lg p-1">Cast <span class=" font-normal pl-3 text-lg">{{movieData.cast}}</span> </p>
                    <p class="font-bold text-lg p-1">Language <span class=" font-normal pl-3 text-lg">{{movieData.language}}</span> </p>     
                    <p class="font-bold text-lg p-1">Type <span class=" font-normal pl-3 text-lg">{{movieData.type.charAt(0).toUpperCase() + movieData.type.slice(1)}}</span> </p> 
                    <div *ngIf="this.movieData.type=='series'">
                        <p class="font-bold text-xl p-1">Seasons <span class=" font-normal pl-3 text-lg">{{movieData.seasons}}</span> </p>
                    </div>
                    <p class="font-bold text-lg p-1">Genres <span class=" font-normal pl-3 text-lg">{{movieData.genres}}</span> </p> 
                </div>
                <div class="mr-40 text-3xl font-bold ">
                    <div class="underline underline-offset-4 decoration-3">Rating</div>
                    <div class="text-center">{{movieData.avgRating}}/10</div>
                </div>
            </div>
            <p class="font-bold text-lg p-1">Plot </p>
            <p class="text-lg p-1 " id="plot">{{movieData.description}}</p>
            <br>

            <div class="border-4 border-black w-fit p-3">
                <p class="text-center text-lg">Rate the movie</p>

                <ngb-rating class="text-5xl"></ngb-rating>

            </div>

        </div>
        
    </div>

</div>