<div id="navbar">
    <h2 id="name">CINE FILES</h2>
    <ul>    
        <li>
            <form action="">
                <input type="text" id="searchbar" placeholder="Search Movie">
            </form>
        </li>
        <li>
            <img src={{this.userData.profilepic}} id="profile-pic">
        </li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">{{this.userData.username}}</a>
                <div class="dropdown-content">
                  <a class="profile">Profile</a>
                  <a class="logout" (click)="logout()">Logout</a>
                </div>
            </div>
        </li>
    </ul>  
</div>

<div id="sidebar">
    <ul>
        <li>
            <a>Home</a>
        </li>
        <li>
            <a>Watchlist</a>
        </li>
        <li>
            <a>Liked Movies</a>
        </li>
        <li>
            <a>Your Reviews</a>
        </li>
    </ul>
</div>


