<div class="flex flex-col justify-around">
    <div class="flex justify-between bg-[#1f4489] p-6 items-center">
        <div class="text-[#fcc139] text-5xl" id="name">
            CINE FILES
        </div>
        <div class="text-white">
            <a class=" text-2xl hover:text-[#fcc139] active:text-[#fcc139] cursor-pointer">Home</a>
        </div>
        <div class="text-white">
            <a class="text-2xl hover:text-[#fcc139] active:text-[#fcc139] cursor-pointer" routerLink='/home/watchlist'>Watchlist</a>
        </div>
        <div class="text-white">
            <a class="text-2xl hover:text-[#fcc139] active:text-[#fcc139] cursor-pointer">Favourites</a>
        </div>
        <div class="text-white">
            <a class="text-2xl hover:text-[#fcc139] active:text-[#fcc139] cursor-pointer">Your Reviews</a>
        </div>
        <div class="flex items-center ">
            <div>
                <img src={{this.userData.profilepic}} alt="" class="h-12 rounded-full">
            </div>
            <div class="p-1 text-white text-2xl relative ">
                <button class="dropdown" id="username">
                    {{this.userData.username}}
                    <div class="dropdown-content bg-[#1f4489] p-2">
                        <a class="profile p-2 hover:text-[#fcc139] active:text-[#fcc139]">Profile</a>
                        <br>
                        <hr>
                        <a class="logout hover:text-[#fcc139] active:text-[#fcc139]" (click)="logout()">Logout</a>
                      </div>
                </button>
            </div>
        </div>
    </div>
    <form action="" [formGroup]="searchbarForm" (ngSubmit)="search()">
        <div class="flex items-center  bg-[#1f4489] p-3 ">
                <div class="flex  items-center m-auto">
                        <div>
                            <input type="text" placeholder="Search Movies" class="w-96 rounded-full text-center h-10" formControlName="searchTerm">
                        </div>
                        <div class="p-2">
                            <button class="text-black bg-[#fcc139] p-1 rounded hover:bg-yellow-300" routerLink="/home/search">SEARCH</button>
                        </div>
                </div>
        </div>
    </form>
</div>

<div *ngIf="this.router.url=='/home/watchlist'">
    <app-watchlist></app-watchlist>
</div>

<div class="flex flex-col p-3 items-center">
    <div class="text-lg  text-center text-[#1f4489] font-semibold">POPULAR MOVIES</div>
    <div class="grid grid-cols-5 justify-around ">
        <div *ngFor="let movie of this.popularMovies">
            <div class="">
                <img src={{movie.poster}} alt="" class="h-72 w-60  p-3">
                <p class="font-semibold text-center">{{movie.name}}</p>
            </div>
        </div>
    </form>
</div>

<div *ngIf="this.router.url=='/home/watchlist'">
    <app-watchlist></app-watchlist>
</div>



<div *ngIf="this.router.url=='/home/search'">
    <app-search-results [searchTerm]="this.searchbarForm.value.searchTerm"></app-search-results>
</div>


