
    <h1 id="cinefiles">CINE FILES</h1>



<div id="bg-img">
<h2 class="name2">Rate the movies you've watched.</h2>
<h2 class="name2">Share your favorite films with your friends.</h2>
<h2 class="name2">Join fellow Cinephiles.</h2>

<br>
<div class="buttons">
    <form action="" [formGroup]="loginForm" id="login-form" (ngSubmit)="loginUser()">
        <input type="text" placeholder="Enter email" formControlName="email" class="input-text">
        <br> <br>
        <input type="password" placeholder="Enter password" formControlName="password" class="input-text">
        <br> <br>
        <button class="button">LOGIN</button>
    </form>
    
    
    <br>
    <h3 class="name3">Don't have an account?</h3>
    <button class="button" id="register">GET STARTED</button>
</div>
</div>